:root{
    --teal:#2ec1ac;
    --teal-hover:#279e8c;
}

* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
 
.custom-bg {
    background-color: var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal-hover);
}
.custom-alert {
    position: fixed;
    float: right;
    top: 90px;
    width: 16%;
    right: 25px;
    z-index: 10;
}
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}
.dashboard_menu_left {
    position: fixed;
    height: 100%;
    z-index: 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

@media screen and (max-width:990px) {
    #dashboard_menu{
        height: auto;
        width: 100%;
        z-index: 1;
    }
    #main-content{
        margin-top: 62px;
    }
}